/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the page takes up the full viewport */
html, body {
  height: 100%;
}

/* Main container */
.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  min-height: 100vh;
  padding-top: 7rem;
  padding-bottom: 60px;
  background-color: #e1e3eb;
}

/* Sub-main container */
.sub-main {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Adjusted to stack elements vertically */
  width: 80%; /* Adjusted width for better responsiveness */
  max-width: 400px; /* Added max-width for better responsiveness */
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 60px; 
  background-color: white;
  margin: auto; /* Centering the element horizontally */
}

/* Container for profile image */
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

/* Profile image */
.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%; /* Adjusted to a circular shape */
}

/* Container for input fields */
.input-container {
  margin-bottom: 20px;
}

/* Input fields */
.name {
  width: 100%; /* Adjusted to full width */
  max-width: 300px; /* Added max-width for better responsiveness */
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  margin: 10px auto; /* Added margin for better spacing */
}

/* Email icon */
.email {
  height: 25px;
  width: 25px;
  position: absolute;
  
  
}


.second-input {
  align-items: center; /* Center items vertically */
}


/* Login button */
button {
  width: 100%; /* Adjusted to full width */
  height: 50px; /* Adjusted height */
  border-radius: 60px;
  background-color: #09922b;
  color: white;
  font-size: 25px;
  border: none;
  margin: 10px auto; /* Added margin for better spacing */
}

/* Additional styling for login button */
.login-button {
  padding-top: 25px;
}

/* Additional styling for links */
.link {
  font-size: 25px;
  font-weight: 400;
}

a {
  color: blue;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .sub-main {
    width: 90%; /* Adjusted width for smaller screens */
  }

  /* Adjustments for smaller screens */
  button {
    height: 40px; /* Adjusted height for smaller screens */
    font-size: 20px; /* Adjusted font size for smaller screens */
  }
}
